# requirements.txt
numpy
aiohttp
asyncio
agno
groq
newspaper4k
yfinance
ddgs
lxml_html_clean
fastapi
uvicorn
duckduckgo-search
transformers
torch
python-dotenv
certifi
pydantic



